{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Stock Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Look Up</button>
    </form>
    
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                {% if quotes %}
                    {% for quote in quotes %}
                    <tr>
                        <td>{{ quote.symbol }}</td>
                        <td>{{ quote.price }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>No Quote History</td>
                        <td>No Quote History</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
