{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Shares</th>
                    <th scope="col">Price Of Purchase</th>
                    <th scope="col">Time Of Purchase</th>
                    <th scope="col">Curent Price</th>
                </tr>
            </thead>
            <tbody>
                {% if transactions %}
                    {% for transaction in transactions %}
                        <tr>
                            <td>{{ transaction.product_name }}</td>
                            <td>{{ transaction.amount }}</td>
                            <td>{{ transaction.price }}</td>
                            <td>{{ transaction.order_date }}</td>
                            <td>{{ transaction.cur_price }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>No Transaction History</td>
                        <td>No Transaction History</td>
                        <td>No Transaction History</td>
                        <td>No Transaction History</td>
                        <td>No Transaction History</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
